body{
    margin:0;
}
footer {
    background-image: url("../../assets/images/footer-gradient-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_box {
    max-width: 302px;
    padding-top: 16px;
}
.logo-link {
    text-decoration: none;
}
.footer_flex {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;

}
.footer-contacts {
    display: flex;
}
@font-face {
    font-family: 'Georgia';
    src: url("../../assets/fonts/Georgia.ttf");

}
@font-face {
    font-family: Arial;
    src: url("../../assets/fonts/arial.ttf");
}
.donation-text {
    color: #B2B2B2;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    max-width: 380px;
}
.shelter_elements:nth-child(6) {
    margin-left: 171px;
    margin-top: 55px;
    white-space: nowrap;

}
.shelter_elements:nth-child(7) {
    margin-top: 55px;
    margin-left: 180px;
    white-space: nowrap;

}
.shelter_elements:nth-child(8) {
    margin-left: 250px;
    margin-top: 55px;
    white-space: nowrap;
  }

.shelter_elements:nth-child(9) {
    margin-left: 270px;
    margin-top: 55px;
    white-space: nowrap;

}

.donation-subhead {
    color: #545454;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    margin-top: 20px;
}
.shelter-cards-names {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
    line-height: 115%;
}
.about-title {
    color: #545454;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    font-family: Georgia;
    font-style: normal;
    max-width: 370px;
}
div{
    box-sizing: border-box;
}
.background-grey {
    background-color: #F6F6F6
}

.logo-gradient {
    background-image: url("../../assets/images/start-screen-gradient-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-locations {
    margin-top: 40px;
}
.burger-logo-exit {
    display: flex;
    justify-content: space-between;
    margin-right: 53px;
}
.burger-exit-menu {
    transform: rotate(90deg);
}
.subtitile {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: 10px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
}
.burger-subtitle {
    margin-left: 12px;
}
.burger-logo{
    display: none;
    margin-left: auto;
}
.burger{
    position: fixed;
    height: 100%;
    width: 320px;
    background-color: #292929;
    right: -330px;
    z-index: 5;
}
.burger.active{
    right: 0;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.burger-menu-links{
    font-family: Arial;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: none;
    color: #CDCDCD;
    margin-left: 35px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.overlay{
    display: none;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 2;
}
.overlay.active {
    display: flex;
}
.start_screen-image {
    width: 100%;
    max-width: 698px;
    height: 728px;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 60px;
}
.donation-dog-img{
    max-width: 505px;
    width: 100%;
}

.Title {
    color: #F1CDB3;
    font-size: 32px;
    font-family: Georgia;
    margin: 0;

}
.burger-Title {
    color: #F1CDB3;
    font-size: 32px;
    font-family: Georgia;
    margin-top: 30px;
    margin-left: 10px;

}
nav a {

}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border:2px solid #F1CDB3;
    cursor: pointer;
}
.start-burger-menu {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;
    margin-left: 35px;
}
.start-burger-menu:hover {
    color: #FAFAFA;
    padding-bottom: 1px;
    border-bottom: 3px #F1CDB3 solid;
}
.btn:hover{
    background-color: #F1CDB3;

}
.nav_menu_start_link {
    color: #FAFAFA;
    padding-bottom: 1px;
    border-bottom: 3px #F1CDB3 solid;
}
.start_screen {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 106px;
}
.make_friend_button {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    background-color: #F1CDB3;
    border: #F1CDB3;
    margin-top: 42px;
}
.about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 100px;
}

.content {
    margin-top: 170px;
    max-width: 430px;
    width: 100%;
    height: 380px;
    text-align: justify;
}
.about-content{
    max-width: 430px;
    margin-top: 90px;
    margin-left: 120px;
}
.subheading {
    color: #4C4C4C;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 160%;
    max-width: 430px;
}
.about-img{
    object-fit: cover;
    height: 408px;
    margin-top: 80px;
}
.donation {
    padding-top: 80px;
    padding-bottom: 100px;

    display: flex;
    justify-content: center;
}
.donation-account {
    text-decoration: none;
    color: #545454;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.donation-docs {
    margin-left:30px;
    max-width: 380px;
    width: 100%;
}
.credit_card-img {
    width: 30px;
    height: 23px;
    margin-left: 10px;
    margin-right: 10px;
}
.credit_card {
    margin-top: 20px;
    display: flex;
    padding: 10px 10px 15px 15px;
    border-radius: 9px;
    background-color: #F1CDB3;
    align-items: center;
    max-width: 350px;

}
.help-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-title {
    max-width: 308px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    color: #545454;
}
.help-links {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-bottom: 100px;
}
.help-images {
    width: 60px;
    height: 60px
}

.footer_contacts {
    display: flex;
    align-items: center;


}
.footer_contacts img {
    padding-right: 20px;
}
h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    margin: 0;
}
.content-title {
    color: #FFFFFF;
    max-width: 310px;
}
.content-text {
    color: #CDCDCD;
    margin-top: 42px;
    margin-bottom: 0;
    max-width: 460px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
h2 {
    margin: 0;
}
h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    margin: 0;
}
h4 {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin: 0;
}
h5 {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    margin: 0;
}
.footer_padding {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    justify-content: space-between;
}

.footer-puppy {
    max-width: 300px;
    width: 100%;
    height: 310px;
}
.slider-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}
.slider-title {
    max-width: 400px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    letter-spacing: 0.06em;
    color: #545454;
}

.slider{
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;

}
.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-arrow{
    height: 52px;
    min-width: 52px;
}

.slider-arrow-left{
    margin-right: 50px;
}
.slider-arrow-right{
    margin-left: 50px;
    transform: rotate(180deg);
}
.slider-view-container{
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider-view-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.slider-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
    width: 270px;
    margin-right: 90px;
 }
.slider-view:last-child{
    margin-right: 0;
}
.slider-view-name{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 23px;
    color: #545454;
    margin: 30px 0;
}
.learn-more{
    margin-bottom: 30px;
    font-size: 17px;
    padding: 15px 45px;
    color:#292929;
    background-color: #FAFAFA;
    border-radius: 100px;
    letter-spacing: 0.06em;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
}
.slider-view:hover .learn-more{
    background-color: #F1CDB3;
}
.button-get-to-know {

    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    gap: 10px;
    background-color: #F1CDB3;
    font-size: 17px;
    border:2px solid #F1CDB3;
    cursor: pointer;
}
.button-box {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 100px;
}
.exit-radius {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    position: absolute;
    right: -52px;
    top: -52px;
    cursor: pointer;
}
.slider-popup{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 5;
}
.slider-popup.active{
    display: flex;
}
.about-pets {
    display: flex;
    border-radius: 9px;
    background: #FAFAFA;
}
.about-pets-desc {
    max-width: 400px;

}
.about-pets-img {
    width: 500px;
    height: 500px;
}
.pet-name {
    color: #000000;
    margin-top: 50px;
    margin-bottom: 0;
}
.pet-origin {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin-top: 10px;
    margin-bottom: 0;
}
.pet-descr {
    margin-top: 40px;
    margin-bottom: 40px;
}
.shelter_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_h3 {
    color: #FFFFFF;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 500px;
}
.del-a-affects {
    text-decoration: none;
}
.footer_h4 {
    color: #F1CDB3;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.donation-title {
    color: #545454;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 300px;

}
.mobile-arrow{
    padding: 0 87px;
    justify-content: space-between;
    margin-top: 20px;
    display: none;
}
.footer_box:nth-child(2) {
    margin-left: 160px;
}

@media only screen and (max-width: 1279px) {

    .footer_box:nth-child(2) {
        margin-left: 60px;
    }
    .shelter_elements:nth-child(1) {
        margin-top: 55px;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(2) {
        margin-top: 55px;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(3) {
        margin-top: 55px;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(4) {
        margin-top: 55px;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(5) {
        margin-top: 55px;
        white-space: nowrap;

    }

    .shelter_elements:nth-child(6) {
        margin-left: 0;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(7) {
        margin-left: 0;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(8) {
        margin-left: 0;
        white-space: nowrap;

    }

    .shelter_elements:nth-child(9) {
        margin-left: 0;
        white-space: nowrap;

    }


    .footer-puppy {
        margin-top: 65px;
    }
    .help-links {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .slider-arrow{
        display: flex;
    }
    .mobile-arrow .slider-arrow{
        display: flex;
    }
    .donation-docs{
        margin-left: 0;
    }
    .header {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 30px;
    }
    .start_screen {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
    }
    .footer_padding {

        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }
    .footer_box {
        padding-top: 0;
    }
    .footer_box {
        margin-right: 61px;
    }
    .content {
        margin-top: 60px;
        padding: 0 10px;
    }
    .start_screen-image {
        width: 100%;
        max-width: 569px;
        height: 593px;
    }
    .about {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .about-content {
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 0;
    }
    .about-img {
        width: 300px;
        height: 408px;
        margin-bottom: 100px;
    }
    .slider {
        padding-right: 30px;
        padding-left: 30px;
    }
    .slider-view {
        margin-right: 40px;
    }
    .slider-arrow-left {
        margin-right: 12px;
    }
    .slider-title {
        margin-bottom: 60px;
    }
    .donation {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .donation-title {
        margin-bottom: 20px;
    }
    .about-pets-img {
        max-width: 350px;
        max-height: 350px;
    }
    .about-pets-desc {
        max-width: 280px;
    }
    .about-pets{
        padding: 10px;
    }
    .pet-name,.pet-origin{
        text-align: center;
    }


}
@media(max-width: 767px){
    .shelter-cards-names {
        font-size: 15px;
    }
    .footer-contacts {
        display: block;
    }
    .footer_box:nth-child(2) {
    margin-left: 0;
        margin-top: 40px;
    }
    .mobile-arrow {
        display: flex;
    }
    .burger-logo{
        display: block;
    }
    .nav_menu{
        display: none;
    }
    .footer_flex{
        flex-direction: column;
    }
    .footer_box{
        margin: 0;
    }
    .slider-arrow {
        display: none;
    }

    .shelter_elements:nth-child(4) {
        margin-top: 55px;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(5) {
        margin-top: 55px;
        white-space: nowrap;

    }

    .shelter_elements:nth-child(6) {
        margin-left: 0;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(7) {
        margin-left: 0;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(8) {
        margin-left: 0;
        white-space: nowrap;

    }

    .shelter_elements:nth-child(9) {
        margin-left: 0;
        white-space: nowrap;

    }




    .shelter_elements:nth-child(3) {
        margin-top: 55px;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(4) {
        margin-top: 55px;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(5) {
        margin-top: 55px;
        white-space: nowrap;

    }

    .shelter_elements:nth-child(6) {
        margin-left: 0;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(7) {
        margin-left: 0;
        white-space: nowrap;

    }
    .shelter_elements:nth-child(8) {
        margin-left: 0;
        white-space: nowrap;

    }

    .shelter_elements:nth-child(9) {
        margin-left: 0;
        white-space: nowrap;

    }
    .help-title {
        margin-bottom: 42px;
    }
    .slider-arrow {
        display: none;
    }
    .help-links {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .footer-puppy {
        margin-top: 40px;
    }
    nav {
        display: none;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        height: 296px;
    }
    .content-title {
        font-family: Georgia;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;


    }
    .content-text {
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .start_screen-image {
        width: 100%;
        max-width: 260px;
        height: 271.77px;
        margin-top: 105px;
    }
    .about-title {
        font-family: Georgia;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;


    }
    .about {
        margin-left: 10px;
        margin-right: 10px;
    }
    .about-content {
        margin-top: 0;
        margin-left: 0;
    }
    .about-title {
        margin-top: 42px;
    }
    .about-img {
        width: 260px;
        height: 353.6px;
    }
    .donation-title {
        font-family: Georgia;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        color: #545454;
    }
    .donation-dog-img {
        width: 100%;
        max-width: 260px;
        height: 135.2px;
        margin-top: 42px;
        margin-bottom: 42px;
    }
    .donation {
        padding-bottom: 0;
    }
    .footer_padding {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer_h3 {
        font-family: Georgia;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
    }

}

