.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
body {
    margin: 0;
}
* {
    margin: 0;
}
.test {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-link {
    text-decoration: none;
}
.Title {
    color: #545454;
    font-size: 32px;
    font-family: Georgia;
    margin: 0;

}

.our-friends-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-friends-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 400px;
    padding: 80px 0 0 0;
    margin: 0;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #F1CDB3;
}
.pagination-btn {
    border-radius: 100px;
    margin-left: 20px;
    height: 52px;
    min-width: 52px;
    text-align: center;
    font-size: 20px;
    line-height: 115%;
    color: #292929;
    font-family: Georgia;
}
.pagination-active {
    background: #F1CDB3;
    cursor: inherit;
}

@font-face {
    font-family: Georgia;
    src: url("../../assets/fonts/Georgia.ttf");

}
@font-face {
    font-family: Arial;
    src: url("../../assets/fonts/arial.ttf");
}
.learn-more{
    margin-bottom: 30px;
    font-size: 17px;
    padding: 15px 45px;
    color:#292929;
    background-color: #FAFAFA;
    border-radius: 100px;
    letter-spacing: 0.06em;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
}

.slider-view-name{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 23px;
    color: #545454;
    margin: 30px 0;
}
div {
    box-sizing: border-box;
}
.our-pets-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
    width: 270px;
    border-radius: 9px;
 }
.our-pets-box:hover .learn-more{
    background-color: #F1CDB3;
}
.our-pets-box:hover {
    opacity: 85%;
}
.pagination-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    padding-bottom: 100px;
}
.subtitile {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: 10px;
    color: #292929;
    letter-spacing: 0.1em;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-pets-grid-box {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 45px;
}
.main {
    background: #F6F6F6;
    padding-left: 40px;
    padding-right: 40px;
}
.start-burger-menu {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
    margin-left: 35px;
}
.burger-logo{
    display: none;
    margin-left: auto;
}
.start-burger-menu:hover {
    color: #292929;
    padding-bottom: 1px;
    border-bottom: 3px #F1CDB3 solid;
}
.nav_menu_ourpets_link {
    color: #292929;
    padding-bottom: 1px;
    border-bottom: 3px #F1CDB3 solid;
}
.logo-title {
    margin: 30px 0 0 0 ;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.06em;
    line-height: 110%;
    color: #545454;
}
.logo-subtitle {
    margin: 10px 0 30px 0;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
}
footer {
    background-image: url("../../assets/images/footer-gradient-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-locations {
    margin-top: 40px;
}
.footer_contacts {
    display: flex;
    align-items: center;


}
.btn-clickable {
    border: 2px solid #F1CDB3;
    cursor: pointer;
    background-color: #FFFFFF;
}
.btn-clickable:hover {
    background-color: #F1CDB3;
}

button:disabled,
button[disabled]{
    border:2px solid #CDCDCD;
    color: #CDCDCD;
}
.footer_contacts img {
    padding-right: 20px;
}
.footer_box {
    max-width: 302px;

}
.footer_padding {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 56px;
}
.footer-puppy {
    max-width: 300px;
    width: 100%;
}
.footer_h4 {
    color: #F1CDB3;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.footer_h3 {
    color: #FFFFFF;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 500px;
}
.del-a-affects {
    text-decoration: none;
}
.test:nth-child(3) {
    margin-top: 0px;
}

.test:nth-child(4) {
    margin-top: 0px;
}

.test:nth-child(5) {
    margin-top: 30px;
}

.test:nth-child(6) {
    margin-top: 30px;
}
.test:nth-child(7) {
    margin-top: 30px;
    }
.test:nth-child(8) {
    margin-top: 30px;
    }
.nav_menu_start_link {
    color: #292929;
    padding-bottom: 1px;
    border-bottom: 3px #F1CDB3 solid;
}
@media only screen and (max-width: 1000px) {
    .footer-puppy {
        margin-top: 65px;
    }
    .footer_padding {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_box {
        margin-right: 61px;
    }
    .header {
        padding-right: 30px;
        padding-left: 30px;
    }
    .our-pets-grid-box {
        margin-top: 30px;
    }
    .our-pets-grid-box {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 30px;
        align-items: center;
    }
    .test:nth-child(3) {
        margin-top: 30px;
    }
    .test:nth-child(4) {
        margin-top: 30px;
    }
    .test:nth-child(5) {
        margin-top: 30px;
    }
    .test:nth-child(6) {
        margin-top: 30px;
    }

    .test:nth-child(7) {
        display: none;
    }
    .test:nth-child(8) {
        display: none;
    }
}
@media(max-width: 660px){
    .nav_menu{
        display: none;
    }
    .footer_box{
        margin: 0;
    }
    .our-pets-grid-box {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 42px;
        align-items: center;
    }
    .test:nth-child(5) {
        display: none;
    }    .test:nth-child(2) {
        margin-top: 30px;
    }    .test:nth-child(3) {
        margin-top: 30px;
    }
    .test:nth-child(6) {
        display: none;
    }
    .test:nth-child(4) {
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .footer-puppy {
        margin-top: 40px;
    }
    .footer_padding {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer_h3 {
        font-family: Georgia;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
    }
}
